.home {
  background: #fffcf0;
  .mark {
    color: #1e60db;
  }
}

#s-8 {
  padding: 60px 5vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .section-title {
    display: flex;
    justify-content: center;
  }

  .results-grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    .headline {
      text-align: start;
      margin: 0px 0px 5vh 30px;
    }

    .result-card {
      flex: 1;
      text-align: center;

      .label {
        text-align: left;
        font-size: 12px;
        color: #999;
        margin-bottom: 10px;
      }

      img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 15px;
      }

      .metrics {
        display: flex;
        justify-content: space-around;
        gap: 20px;

        div {
          text-align: center;

          strong {
            font-size: 18px;
            color: #111;
          }

          span {
            display: block;
            font-size: 12px;
            color: #555;
          }
        }
      }
    }
  }

  .explore-btn {
    display: flex;
    justify-content: center;

    button {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #1e60db;
      color: #fff;
      padding: 10px 20px;
      border-radius: 40px;
      border: none;
      font-weight: 500;
      cursor: pointer;
      font-size: 14px;
      transition: all 0.2s ease;

      svg {
        stroke: white;
      }

      &:hover {
        background: #1449b6;
      }
    }
  }

  .main-result-card {
    margin: 30px 20vw 0;

    border-radius: 10px;
    padding: 20px;
    text-align: center;

    @media screen and (max-width: 768px) {
      margin: 30px 0;
    }

    .label {
      text-align: left;
      font-size: 12px;
      color: #999;
      margin-bottom: 10px;
    }

    img {
      width: 70%;
      max-width: 500px;
      margin: auto;
      display: block;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    .metrics {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;

      div {
        text-align: center;

        strong {
          font-size: 18px;
          color: #111;
        }

        span {
          display: block;
          font-size: 12px;
          color: #555;
        }
      }
    }
  }
}

#s-9 {
  background: #fff;
  padding-bottom: 27vh;

  h1 {
    text-align: center;
  }

  .pricing-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }

  .pricing-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* CTA style */
  .cta {
    margin: 5vh 0 0 0;
    float: right;
    background-color: #e6efff;
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    max-width: 360px;

    h2 {
      font-size: 20px;
      font-weight: 600;
      color: #202124;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      color: #5f6368;
      margin-bottom: 15px;
    }
  }

  .pricing-card {
    padding: 10px 10px 20px;
    border-radius: 16px;
    max-width: 360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .recommended {
    background: #1e60db;
    color: #fff;
    .list-of-options li {
      color: #fff;
    }
    .card-heading {
      border-radius: 10px;
      padding: 24px;
      background: #4e85eb;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h4,
      p {
        color: #fff;
      }
      .label {
        background: #83aaf1;
        svg rect {
          fill: #fff;
        }
      }
    }
  }

  .card-heading {
    border-radius: 5px;
    padding: 24px;
    background: #efeeea;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pricing-card .label {
    font-size: 8px;
    font-weight: 500;
    background: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 4px;
    width: fit-content;
    svg {
      width: 6px;
      height: 6px;
    }
  }

  .pricing-card h4 {
    font-size: 18px;
    font-weight: 500;
    color: #111;
  }

  .pricing-card .price {
    font-size: 28px;
    font-weight: 500;
    color: #111;
    margin: 0;
  }
  .pricing-card .bonus {
    font-size: 12px;
    font-weight: 300;
  }

  .pricing-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pricing-card ul li {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #333;
    font-size: 14px;
  }
}
